#gameBoard{
    border: 2px solid black;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.symbolRow{
    border: 1px solid black;
    /* width: 100%; */
    height: 33.33%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}
.symbolCol{
    border: 1px solid black;
    width: 25%;
}

.symbolButton {
    width: 100%;
    height: 100%;
    font-size: 40px;
}

@media screen and (max-width: 400px) {
    #gameBoard {
        height: 250px;
    }
  }