.playerInfo{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    color: white;
    font-style: italic;
    text-transform: uppercase;
}
.player{
    width: 70%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    /* gap: 100px; */
}
button{
    height: 90%;
    font-style: italic
}

.playerInfo.active{
    border-color: ;
    border: 2px solid rgb(247, 161, 2) ;
}